{{^unstyledContent}}
<div class="content" id="content" lang="{{pageLang}}" dir="{{pageDir}}">
	{{{bodytext}}}
	{{{returnLink}}}
	{{{_postContent}}}
	{{{_secondaryActions}}}
	{{{_historyLinkBottom}}}
</div>
{{/unstyledContent}}
{{#unstyledContent}}
{{{bodytext}}}
{{/unstyledContent}}
