{{{headelement}}}
<div id="mw-mf-viewport">
	<nav id="mw-mf-page-left" class="navigation-drawer">
		{{{_mainMenu}}}
	</nav>
	<div id="mw-mf-page-center">
		{{{_banners}}}
		<div class="header">
			{{{_header}}}
		</div>
		<div id="content_wrapper">
		{{{_contentWrapper}}}
		</div>
		{{{_footer}}}
	</div>
</div>
{{{reporttime}}}
{{{bottomscripts}}}
</body>
</html>